    html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.alignleft {
	color: white;
	align-items: left;
}
.alignright {
	color: blue;
	align-items: right;
}
